.tasks{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    &__wrapper{ 
        flex-basis: 100%;
        border-right: none;    
        text-align: center;
        @media(min-width:1024px){
            flex-basis: 50%;
            border-right: 2px solid #ddd;
        }
    }
    &__list{
        list-style-type: none;
    }    
    &__headline{
        font-size: 22px;
    }

    &__delete-task, &__done-task{
        width: 85px;
        @media(min-width:1024px){
            width: 100px;
        }
    }

    &__delete-task
    {
        color: #a94442;
        background-color: $delete-button-color;
        border-color: #ebccd1;
    }
    
    &__done-task{
        color: #3c763d;
        background-color: $done-button-color;
        border-color: #d6e9c6;
    }
        @media(min-width:1024px){
            flex-wrap: nowrap;
    }  
}